<html ng-app = "advance2">
<head>
	<title>advance 2</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<script type="text/javascript" src="/js/stock/angular.js"></script>
	<script type="text/javascript" src="/js/advance/advance2.js"></script>
</head>
<body>


<h3 body-page></h3>	
</body>
</html>