<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<script type="text/javascript" src="/js/stock/angular.js"></script>
	<script type="text/javascript" src="/js/advance/advance4.js"></script>
</head>
	<body ng-app="advance4" ng-controller="app">
		<button ng-click="generateRandom()">GENERATE RANDOM NUMBER</button>
		<br>
		RANDOM NUMBER :{{randomNumber}}
	</body>
</html>