<html ng-app = "advance1">
<head>
	<title>advance 1</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<script type="text/javascript" src="/js/stock/angular.js"></script>
	<script type="text/javascript" src="/js/advance/advance1.js"></script>
</head>
<body>

<header-pages></header-pages>

<h3 body-page></h3>	

</body>
</html>